.TVChartContainer {
	/* height: calc(100vh - 80px); */
	height: 100%;
    width: 100%;
}

.pane-controls .toppane{
	display: none;
}

.chart-page{
	background-color: #14181c;
}
.chart-page .chart-container{
    border: none;
    background: none;
}

.pane-legend-line {
    display: inline;
    cursor: default;
    pointer-events: none !important;
    font-size: 11px !important;
}
 
.pane-legend-line span {
    color: #fff;
}
 
.pane-legend-line.pane-legend-wrap.study > .pane-legend-line {
    font-size: 11px !important;
    color: #fff !important;
}
 
.pane-legend-icon-container{
    display: none !important;
}
 
.pane-legend-line>.main{
    display: none !important;
}
 
.pane-legend .pane-legend-minbtn{
    display: none;
}